@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    padding: 0;
    margin: 0;
}


/* shared style */
.text-primary{
    color: #FD6E0A;
}

.color-primary{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    border-radius: 8px;
    font-weight: 800;
    padding: 18px 35px;
    color: #ffff;
    border: none;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.secondary-bg{
    background-color: #FFF8F3;
}
.text-center{
    text-align: center;
}



/* Nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin: 0 200px;
}


.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul li{
    list-style: none;
}
nav ul{
    display: flex;
    align-items: center;
    
    
}

nav li a{
    text-decoration: none;
    font-size: 24px;
    margin-right: 50px;
}

/* Header */
.headerimg{
    background-image: url(../images/developer.png), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    margin: 0 0 0 10;
    
}


/* Bnner section */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 200px ;
    
}
.banner-content{
    max-width: 588px;
    margin: auto 0;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: 600px;
}
.banner-discripttion{
    padding: 30px 0;
}
.banner-pic{
    width: 584px;
    height: 675px;
}

/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
    
}
main section{
    margin: 130px 0;
}


/* About  Me */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    

}
.section-title{
    margin-bottom: 30px;
    font-weight: 400;
}
.item-description{
    font-weight: 700;
}
.about-items{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

/* My Skills */
.section-title{
    font-weight: bold;
    color: #181818;
}
.section-description{
    margin-bottom: 80px;
}

.skills-container{
    display: flex;
    gap: 24px;
}
.skil{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, .2);
    border-radius: 5px;

}

.skill-title{
    margin: 20px 0;
}

/* resume section */
.section-title{
    text-align: center;
    font-weight: bold;
    color: #181818;
    margin-bottom: 80px;
}
.resume-colum-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2e2e2e;
}
.resume-cntainer{
    display: flex;
    gap: 24px;
}
.exprience-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;

}
.exprience-sub-title{
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0px 20px 0px;
    color: #757575;
}
.experence-description{
    font-size: 16;
    color: #7a7a7a;
}
.resume hr{
    margin: 20px 10px;
}
.resume-download-cv{
    margin-top: 50px;
}

/* footer section */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
.sectin-title{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}
.footer-description{
    margin: 20px 0;
}
.footer-images{
    margin-right: 10px;
}
.input-footer{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 50%;
    margin: 30px 0;
    font-size: 16px;
    padding: 10px 150px 10px 20px;
    font-weight: 700;


}
.input-text{
    width: 50%;
    height: 220px;
    border-radius: 5px;
    margin: 30px 0;
    font-size: 16px;
    padding: 10px 150px 10px 20px;
    font-weight: 700;
}
