@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    padding: 0;
    margin: 0;
}


/* shared style */
.text-primary{
    color: #FD6E0A;
}

.color-primary{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    border-radius: 8px;
    font-weight: 800;
    padding: 18px 35px;
    color: #ffff;
    border: none;
}



/* Nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 200px;
}


.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul li{
    list-style: none;
}
nav ul{
    display: flex;
    align-items: center;
    
    
}

nav li a{
    text-decoration: none;
    font-size: 24px;
    margin-right: 50px;
}

/* Header */
.headerimg{
    background-image: url(../images/developer.png), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    margin: 0 0 0 19px;
    
}


/* Bnner section */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 200px ;
    
}
.banner-content{
    max-width: 588px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: 600px;
}
.banner-pic{
    width: 584px;
    height: 675px;
}
